/* *******************************************
                CUSTOM STYLES
**********************************************/

/* Global Styles */

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

*,
*:after
*:before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    width: 100%;
}

/* LoVe HAte - Link, Visited, Hover/Focus, Active*/
a,
a:link,
a:visited {
    color: inherit;
}

a:hover,
a:focus {
    color: #00add8;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    margin: 1em 0 0.5em;
}

h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

/* top-bottom left-right */
p {
    margin: 1em 0;
}

.contianer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;

}

/* Header */
.mobile-logo {
    max-width: 150px;
}

.desktop-logo {
    display: none;
}

.banner {
    height: 600px;
    background: grey url(../images/smog-mobile.jpg);
    background-size: cover;
}

.banner h1 {
    margin: 0;
    padding-top: 250px;
    text-align: center;
    text-transform: uppercase;
}

/* Mobile App Section */

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 6px;
}

.btn:hover,
.btn:focus {
    background-color: #00add8;
    color: inherit;
}

/* Footer Styles */
.site-footer {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 2px solid #00add8;
}

.copy {
    text-align: right;
}


/*********************************************
                Desktop Styles
**********************************************/
@media screen and (min-width:600px) {
    html {
        font-size: 16px;
    }

    .mobile-logo {
        display: none;
    }

    .desktop-logo {
        display: inline-block;
        max-width: 300px;
    }
    
    .banner {
        background-image: url(../images/smog-desktop.jpg);
    }

    .banner h1 {
        color: white;
    }

    /* Mobile App Section */
    .app img {
        width: 40%;
        float: left;
        margin-right: 1em;
    }
    .app .btn {
        float: right;
    }
}

