body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {
    background-color: blueviolet;
}

footer {
    background-color: blueviolet;
}

h1 {
    color: antiquewhite;
}

